{% extends 'front/base.html' %}

{% load static %}

{% block content %}
<div class="col-md-6">
   <h1 class="banner_taital">BIODATA</h1>
   <p class="banner_text">Nama:Eka agung prayoga</p><br>
   <p class="banner_text">Nim:2011102441091</p>
   <p class="banner_text">Alamat:Jl.Ringroad 2</p>
   <p class="banner_text">No/hp:0832-5316-5124</p>
   <h1 class="banner_text">Email:yogae0854@gmail.com</h1>
   <p class="banner_text">Hallo perkenalkan nama saya eka agung prayoga biasa di panggil yoga,terbikin nya web ini saya mau memperjelaskan web yang saya buagt
      jadi web yang saya buat adalah tentang Al-Quran,jadi di web saya teman teman bisa cari suarah surah pendek ataupun 
      surah panjang,dan terbuatlah web ini saya terinpirasi tentang kehidupan "Membaca Alquran dapat menenangkan pikiran dan batin serta cara agar hati tenang dan 
      dapat pula menjadikan rasa cinta terhadap Allah SWT, Terhadap semua nabi dan rasul serta para malaikat menjadi lebih kuat" 
      
   </p>

</div>
<div class="image_1"><img src="{% static 'front/images/yoga.jpeg' %}" width="260" height="260"></div>
<div class="news_section layout_padding">
 </div>

{% endblock content %}