{% extends 'front/base.html' %}

{% load static %}

{% block content %}
      <!--banner section start -->
      
      <div class="banner_section layout_padding">
         <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="banner_taital_main">
                        <div class="row">
                           <div class="col-md-6">
                              <h1 class="banner_taital">AL-QURAN KU</h1>
                              <p class="banner_text">Al Quran adalah kitab suci yang diwahyukan Allah SWT kepada Nabi Muhammad Saw 
                                sebagai rahmat dan petunjuk bagi manusia yang beriman dan bertakwa daam hidup dan kehidupannya</p>
                           </div>
                           <div class="col-md-6">
                              <div class="image_1"><img src="{% static 'front/images/QURAN.png' %}" width="300" height="300"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="banner_taital_main">
                        <div class="row">
                           <div class="col-md-6">
                              <h1 class="banner_taital">AL-QURAN KU</h1>
                              <p class="banner_text">Selain itu, sebagai kitab suci terakhir, al-Qur'an juga membawa fungsi sebagai 
                                petunjuk bagi umat manusia hingga akhir zaman, penyempurna kitab-kitab suci sebelumnya,
                                 dan sumber pokok ajaran agama Islam yang dibawa oleh Nabi Muhammad Saw.</p>
                           </div>
                           <div class="col-md-6">
                              <div class="image_1"><img src="{% static 'front/images/QURAN.png' %}" width="300" height="300"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="banner_taital_main">
                        <div class="row">
                           <div class="col-md-6">
                              <h1 class="banner_taital">AL-QURAN KU</h1>
                              <p class="banner_text">Alquran adalah kalam Allah yang sempurna, yang memuat semua kitab-kitab samawi yang diturunkan 
                                kepada para rasul sebelum nabi Muhammad. Alquran menjelaskan segala kejadian, menjelaskan tentang penciptaan manusia,
                                 masa lampau, menjelaskan masa yang akan datang, hingga alam akhirat</p>
                           </div>
                           <div class="col-md-6">
                              <div class="image_1"><img src="{% static 'front/images/QURAN.png' %}" width="300" height="300"></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="fa fa-arrow-left" style="font-size:24px"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-arrow-right" style="font-size:24px"></i>
            </a>
         </div>
      </div>
      <!--banner section end -->
      </div>
      <!--header section end -->
      <!-- services section start -->
      <div class="services_section layout_padding">
         <div class="container">
            <h1 class="services_taital"><span style="color: #fcce2d"></span> AL-QURAN</h1>
            <div class="services_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="image_main">
                        <img src="{% static 'front/images/quran6.jpg' %}" class="image_8" style="width:100%">
                        <div class="text_main">
                           <div class="seemore_text">Al-quran</div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="image_main">
                        <img src="{% static 'front/images/quran7.jpg' %}" class="image_8" style="width:100%">
                        <div class="text_main">
                           <div class="seemore_text">Al-quran</div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="image_main">
                        <img src="{% static 'front/images/quran4.jpg' %}" class="image_8" style="width:100%">
                        <div class="text_main">
                           <div class="seemore_text">Al-quran</div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="image_main">
                        <img src="{% static 'front/images/quran5.jpg' %}" class="image_8" style="width:100%">
                        <div class="text_main">
                           <div class="seemore_text">Al-qur-an</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>            
      </div>
      <!-- services section end -->
      <!-- about section start -->
      <div class="news_section layout_padding">
         <div class="container">
            <h1 class="news_taital">Tentang Al-quran</h1>
            <p class="news_text">Al-Qur'an merupakan kitab suci umat Islam yang berfungsi sebagai petunjuk bagi manusia dalam
                 mengarahkan kehidupannya. Secara garis besar, al-Qur'an mengandung ajaran tentang aqidah,
                  syariah, dan akhlak, namun al-Qur'an juga mengandung isyarat-isyarat ilmiah yakni
                   mengandung ayat-ayat sains dan teknologi</p>
            <div class="news_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <div class="news_taital_box">
                        <p class="date_text">05 des 2022</p>
                        <h4 class="make_text">Mekkah</h4>
                        <p class="lorem_text">'Makkah, Kota yang Mulia,mekah adalah salah satu kota suci Islam dan ibukota Provinsi Makkah, Arab Saudi.</p>
                        <p class="post_text">Post By : eka agung prayoga</p>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <img src="{% static 'front/images/mekah.jpg' %}" class="image_6" style="width:100%">
                     <h6 class="plus_text">+</h6>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- blog section start -->
      <div class="blog_section layout_padding">
         <div class="container">
            <h1 class="news_taital">AL QURAN</h1>
            <p class="news_text">Al Quran adalah kitab suci umat Islam yang berfungsi sebagai pedoman hidup.
                 Yang dimaksud dengan pedoman hidup adalah Al-qur'an
                 dijadikan sebagai rujukan dalam kehidupan umat manusia.</p>
            <div class="blog_section_2">
               <div class="row">
                  <div class="col-md-6">
                     <img src="{% static 'front/images/pengajian.jpg' %}" class="image_7" style="width:100%">
                  </div>
                  <div class="col-md-6">
                     <h4 class="classes_text">Islam mengajarkan kita</h4>
                     <p class="ipsum_text">umatnya untuk senantiasa menuntut ilmu. Tanpa ilmu, keimanan seorang umat akan
                         kering karena agama dan ilmu mesti saling melengkapi.
                         Di sisi lain, ilmu dan agama dapat berjalan beriringan sehingga tidak perlu dipertentangkan.</p>
                  </div>
               </div>
            </div>
            <div class="read_bt"><a href="#">Read More</a></div>
         </div>
      </div>
      <!-- blog section end -->
      <!-- client section start -->
      <div class="client_section layout_padding">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
      <!-- client section end -->
      <!-- newsletter section start -->
      <div class="newsletter_section layout_padding">
         <div class="container">
  
      <!-- newsletter section end -->

      <!-- contact section start -->
      
      <!-- contact section end -->
      <!-- footer section start -->
   
{% endblock content%}