{% extends 'back/base.html' %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" method="POST">
                        {% csrf_token %}
                        <div class="card-header">
                            <h4 class="card-title">
                                {{title}}
                            </h4>
                        </div>
                        <div class="card-content">
                            <div class="form-group">
                                <label class="col-md-3 control-label"><b style="color:black;">Nama</label>
                                <div class="col-md-9">
                                    <p>{{surah.nama}}</p>
                                </div>
                        </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><b style="color:black;">Judul</label>
                                <div class="col-md-9">
                                    <p>{{surah.judul}}</p>
                                </div>
                        </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><b style="color:black;">Deskripsi</label>
                                <div class="col-md-9">
                                   <p>{{surah.body}}</p>
                                </div>
                        </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><b style="color:black;">Kategory</b></label>
                                <div class="col-md-9">
                                  <p>{{surah.kategory}}</p>
                                    </div>
                                </div>
                        </div>

                        <div class="card-footer text-right">
                            <div class="form-group">
                                <label class=col-md-3></label>
                                <div class="col-md-9">
                                    <a class="btn btn-info" href="{% url 'surah' %}">Kembali</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{% endblock content %}